[submodule "src/external/entt"]
	path = src/external/entt
	url = git@github.com:skypjack/entt.git
[submodule "src/external/tomlplusplus"]
	path = src/external/tomlplusplus
	url = git@github.com:ivanhawkes/tomlplusplus.git
